:root {
  --font-family-serif: 'Times New Roman', Times, sans-serif;
  --font-family-sans-serif: Raleway, 'Segoe UI', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-mono: 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Fira Mono', 'Droid Sans Mono',
    'Courier New', monospace;

  --font-size-html: 16px;
  --font-size-base: 1rem;
  --font-size-sm: calc(var(--font-size-base) * 0.75);
  --font-size-md: var(--font-size-base);
  --font-size-lg: calc(var(--font-size-base) * 1.25);
  --font-size-xl: calc(var(--font-size-base) * 1.5);

  --font-weight-lighter: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 600;

  --line-height-base: calc(24 / 16);
  --line-height-sm: calc(18 / (16 * 0.75));
  --line-height-md: var(--line-height-base);
  --line-height-lg: 2;

  --border-radius-base: 0.25rem;
  --border-radius-sm: calc(var(--border-radius-base) / 2);
  --border-radius-md: var(--border-radius-base);
  --border-radius-lg: calc(var(--border-radius-base) * 2);
}
