:root {
  --font-family-serif: 'Times New Roman', Times, sans-serif;
  --font-family-sans-serif: Raleway, 'Segoe UI', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-mono: 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Fira Mono', 'Droid Sans Mono',
    'Courier New', monospace;

  --font-size-value-base: 16;
  --font-size-value-sm: calc(var(--font-size-value-base) * 0.75);
  --font-size-value-md: calc(var(--font-size-value-base) * 1);
  --font-size-value-lg: calc(var(--font-size-value-base) * 1.25);

  --line-height-value-base: 24;
  --line-height-value-sm: calc(var(--line-height-value-base) * 0.75);
  --line-height-value-md: calc(var(--line-height-value-base) * 1);
  --line-height-value-lg: calc(var(--line-height-value-base) * 1.25);

  --font-size-html: calc(var(--font-size-value-base) * 1px);
  --font-size-base: 1rem;
  --font-size-sm: calc(var(--font-size-value-sm) / var(--font-size-value-base) * var(--font-size-base));
  --font-size-md: calc(var(--font-size-value-md) / var(--font-size-value-base) * var(--font-size-base));
  --font-size-lg: calc(var(--font-size-value-lg) / var(--font-size-value-base) * var(--font-size-base));

  --font-weight-lighter: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 600;

  --line-height-base: calc(var(--line-height-value-base) / var(--font-size-value-base));
  --line-height-sm: calc(var(--line-height-value-sm) / var(--font-size-value-sm));
  --line-height-md: calc(var(--line-height-value-md) / var(--font-size-value-md));
  --line-height-lg: calc(var(--line-height-value-lg) / var(--font-size-value-lg));

  --border-radius-base: 0.25rem;
  --border-radius-sm: calc(var(--border-radius-base) / 2);
  --border-radius-md: var(--border-radius-base);
  --border-radius-lg: calc(var(--border-radius-base) * 2);
}
