@import '@styles/variables';

.wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 1rem;
  padding: 1rem;
  background-color: $color-white;
  box-shadow: $block-shadow;
  border-radius: $border-radius-md;
}
