@import '../variables';

@mixin form-field() {
  display: flex;
  flex-flow: column;
  row-gap: 0.25rem;
}

@mixin form-label() {
  font-weight: $font-weight-bold;
}

@mixin form-error() {
  line-height: $line-height-sm;
  font-size: $font-size-sm;
  font-weight: $font-weight-normal;
  color: $danger;
}
